<div class="card">
    <div class="card-header header-elements-inline bg-slate-800">
        <h7 class="card-title">Task Management</h7>

        <div class="header-elements">
            <div class="list-icons">
                <a href="#" id ="newuser" class="list-icons-item" data-toggle="modal" data-target="#addNewUser" data-backdrop="static" data-keyboard="false"><i
                        class="icon-stack-plus mr-1"></i> New</a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header header-elements-inline alpha-primary alert-primary">
                                <h7 class="card-title">Advanced Search</h7>
                                <div class="header-elements">
                                    <div class="list-icons">
                                        <a class="list-icons-item" data-action="collapse"></a>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="card-body collapse">
                                <form action="#">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>First Name:</label>
                                                            <input type="text" name="s_fname" id="s_fname" placeholder="First Name"
                                                                class="form-control" maxlength="35">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Last Name:</label>
                                                            <input type="text" name="s_lname" id="s_lname" placeholder="Last Name"
                                                                class="form-control" maxlength="35">
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>

                                        <div class="col-md-6">
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group" id="s_email_group">
                                                            <label>Email:</label>
                                                            <input type="email" name="s_email" id="s_email" placeholder="Email" class="form-control" maxlength="50">
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>City:</label>
                                                            <input type="text" name="s_city" id="s_city" placeholder="City"
                                                                class="form-control" maxlength="35">
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                               
                                        </div>
                                    </div>

                                    <div class="text-right">
                                        <button type="button" id="search_user" class="btn btn-primary"> Search<i
                                                class="icon-paperplane ml-2"></i></button>
                                    </div>
                                </form>
                            </div> -->
                        </div>
                    </div>
                </div>

        <table class="table datatable-generated table-bordered table-striped table-xs table-head-primary" style="width:100%">
           
        </table>
    </div>
</div>