<style>
    #map {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #info_content {
        color: black;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- <div class="card-header header-elements-inline">
                <h6 class="card-title">Map</h6>

                <div class="header-elements">
                </div>
            </div> -->

            <div class="card-body py-0">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="map">Users</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

