<!-- Page header -->
<!-- <div class="page-header border-bottom-0">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home</span> - Dashboard</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

        <div class="header-elements d-none mb-3 mb-md-0">
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-link btn-float text-default"><i
                        class="icon-bars-alt"></i><span>Statistics</span></a>
                <a href="#" class="btn btn-link btn-float text-default"><i class="icon-calculator"></i>
                    <span>Invoices</span></a>
                <a href="#" class="btn btn-link btn-float text-default"><i class="icon-calendar5"></i>
                    <span>Schedule</span></a>
            </div>
        </div>
    </div>
</div> -->
<!-- /page header -->