<!-- Secondary navbar -->
<div class="navbar navbar-expand-md navbar-light">
    <div class="text-center d-md-none w-100">
        <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse"
            data-target="#navbar-navigation">
            <i class="icon-unfold mr-2"></i>
            Navigation
        </button>
    </div>

    <div class="navbar-collapse collapse" id="navbar-navigation">
        <ul class="navbar-nav navbar-nav-highlight">
            <li class="nav-item">
                <a href="/home" class="navbar-nav-link">
                    <i class="icon-home4 mr-2"></i>
                    Dashboard
                </a>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-strategy mr-2"></i>
                    Regulatory Inventory
                </a>

                <div class="dropdown-menu">
                    <div class="dropdown-header">Regulatory Inventory</div>

                    <a href="/regulatory/assessment" class="dropdown-item"><i class="icon-align-center-horizontal"></i>
                        Assessment</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-certificate mr-2"></i>
                    Compliance Risk Assesment
                </a>

                <div class="dropdown-menu">
                    <div class="dropdown-header">Compliance Risk Assesment</div>

                    <a href="/compliance/risk_assessment/inherent" class="dropdown-item"><i
                            class="icon-align-center-horizontal"></i>
                        Inherent Compliance Risk Assesment</a>

                    <a href="/compliance/risk_assessment/control" class="dropdown-item"><i
                            class="icon-align-center-horizontal"></i>
                        Review of Control Assessments and Residual Risk</a>

                    <a href="/compliance/risk_assessment/gap_treatment_plans" class="dropdown-item"><i
                            class="icon-align-center-horizontal"></i>
                        Gaps/Risk Treatment Plans</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-display mr-2"></i>
                    Compliance Risk Monitoring
                </a>

                <div class="dropdown-menu">
                    <div class="dropdown-header">Compliance Risk Monitoring</div>

                    <a href="/compliance/risk_monitoring/rcsa_review" class="dropdown-item"><i
                            class="icon-align-center-horizontal"></i>
                        RCSA Review</a>

                    <a href="/compliance/risk_monitoring/kris_monitoring" class="dropdown-item"><i
                            class="icon-align-center-horizontal"></i>
                        KRIs Monitoring</a>

                    <a href="/compliance/risk_monitoring/review" class="dropdown-item"><i
                            class="icon-align-center-horizontal"></i>
                        Compliance Review</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-clipboard3 mr-2"></i>
                    Compliance Risk Reporting
                </a>

                <div class="dropdown-menu">
                    <div class="dropdown-header">Compliance Risk Reporting</div>

                    <a href="/compliance/risk_reporting/analysis" class="dropdown-item"><i
                            class="icon-align-center-horizontal"></i>
                        Interactive Analysis</a>

                    <a href="/compliance/risk_reporting/reports" class="dropdown-item"><i
                            class="icon-align-center-horizontal"></i>
                        Reports</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-gear mr-2"></i>
                    Settings
                </a>

                <div class="dropdown-menu">
                    <div class="dropdown-header">Settings</div>

                    <a href="/users" class="dropdown-item"><i
                            class="icon-align-center-horizontal"></i>
                        Users</a>
                </div>
            </li>


        </ul>
    </div>
</div>
<!-- /secondary navbar -->